*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
::selection{
    background-color: #4E9F3D;
    color: #000;
}
.wrap{
    width: 100%;
    height: 100vh;
    .welcomeScreen{
        display: none;
        //змінити
        justify-content: center;
        align-items: center;
        background-color: #000000;
        flex-direction: column;

        .welcomeScreen_title{
            font-size: 48px;
            font-weight: 600;
            color: #4E9F3D;
            text-shadow: 5px 5px 4px #1E5128;
        }
        .welcomeScreen_input{
            width: 400px;
            height: 50px;
            background-color: #191A19;
            border: none;
            outline: none;
            box-shadow: 4px 4px 3px #4E9F3D;
            color: #4E9F3D;
            font-size: 18px;
            font-weight: 700;
            margin-top: 70px;
            padding: 10px;
        }
        .welcomeScreen_dataContainer{
            display: flex;
            width: 74%;
            margin-top: 70px;
        }
        .welcomeScreen_inputs{
            flex-direction: column;
            display: flex;
        }
        .welcomeScreen_buttons{
            flex-direction: column;
            margin-left: 100px;
        }
        .welcomeScreen_button{
            margin-top: 70px;
            width: 100px;
            height: 50px;
            background-color: #191A19;
            box-shadow: 4px 4px 3px #4E9F3D;
            font-size: 18px;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #4E9F3D;
            cursor: pointer;
        }
        .welcomeScreen_help{
            margin-top: 70px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: #4E9F3D;
            font-size: 24px;
            font-weight: 700;
            cursor: pointer;
            margin-left: 100px;
        }
        .welcomeScreen_contactUs_contactCircle{
            width: 40px;
            height: 40px;
            color: #4E9F3D;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 3px 3px #4E9F3D;
            border-radius: 50%;
        }
        .welcomeScreen_contactUs_hr{
            width: 20px;
            background-color: #353535;
            height: 2px;
            margin: 4px;
            
        }
        .welcomeScreen_contactUs_contacts{
            display: flex;
            align-items: center;
            position: relative;
            left: 10px;
        }
        .welcomeScreen_contactUsCon{
            display: flex;
            align-items: center;
            
        }
        .welcomeScreen_contactUs_contacts_overlow{
            position: absolute;
            width: 250px;
            height: 70px;
            background-color: #000000;
            left: 0;
            transition: 1.5s ease ;
        }
        .welcomeScreen_contactUs_contactCircles{
            display: flex;
            align-items: center;
        }



    }
    .mainPage{
        display: flex;
        //змінити
        background-color: #000000;
        padding: 60px;
        flex-direction: column;

        .mainPage_header{
            width: 100%;
            height: 10vh;
            display: flex;
            justify-content: space-between;

        }
        .mainPage_title{
            font-size: 24px;
            color: #4E9F3D;
            font-weight: 700;
            text-shadow: 3px 3px 3px #1E5128;
        }
        .mainPage_themeAndLangCon{
            width: 300px;
            display: flex;
            justify-content: space-around;
        }
        #languageChanging{
            border: none;
            outline: none;
            background-color: #000;
            color: #4E9F3D;
            text-shadow: 3px 3px 3px #1E5128;
            height: 40px;
            font-size: 24px;
            font-weight: 600;
        }
        option{
            color: #4E9F3D;
            text-shadow: 3px 3px 3px #1E5128;
            border: none;
            outline: none;
            font-size: 24px;
            font-weight: 600;

        }
        .mainPage_theme{
            width: 75px;
            height: 40px;
            background-color: #1E5128;
            display: flex;
            justify-content: flex-start;
            border-radius: 20px;
            transition: 3s ease;
        }
        .mainPage_theme_circle{
            background-color: #4E9F3D;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            transition: 3s ease;
        }
        .mainPage_mainPart{
            width: 100%;
            height: 90vh;
            display: flex;
        }
        .mainPage_mainPart_buttonsRow{
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-around;
        }
        .mainPage_mainPart_button{
            width: 320px;
            height: 70px;
            box-shadow: 0 0 5px 3px #4E9F3D;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            font-weight: 700;
            color: #4E9F3D;
            border-radius: 5px;
            cursor: pointer;
        }
        .mainPage_mainPart_buttonsRow_right{
            margin-left: 50px;
        }
        .mainPage_mainPart_CardCompartment_backgroundPart{
            width: 180px;
            height: 20px;
            background-color: #1f3c25;
            box-shadow: inset 0 8px 6px rgba(0, 0, 0, 0.5);

        }
        .mainPage_mainPart_CheckCompartment_backgroundPart{
            width: 140px;
            height: 20px;
            background-color: #1f3c25;
            box-shadow: inset 0 8px 6px rgba(0, 0, 0, 0.5);
        }
        .mainPage_mainPart_MoneyCompartment_backgroundPart{
            width: 300px;
            height: 30px;
            background-color: #1f3c25;
            box-shadow: inset 0 12px 7px rgba(0, 0, 0, 0.5);
        }
        .mainPage_mainPart_MoneyCompartment_backgroundPart_topPart{
            width: 300px;
            height: 15px;
            background-color: #367a29;
            border-radius: 5px 5px 0 0 ;
        }
        .mainPage_mainPart_CheckCompartment_backgroundPart_topPart{
            width: 140px;
            height: 8px;
            background-color: #367a29;
            border-radius: 5px 5px 0 0 ;
        }
        .mainPage_mainPart_CardCompartment_backgroundPart_topPart{
            width: 180px;
            height: 8px;
            background-color: #367a29;
            border-radius: 5px 5px 0 0 ;
        }
        .mainPage_mainPart_MoneyCompartment{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 100px;
        }

        .mainPage_mainPart_cardAndCheck{
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
        .mainPage_mainPart_CheckCardMoneyPart{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .mainPage_mainPart_buttonsPart{
            width: 50%;
            display: flex;
            justify-content: space-between;
        }
    }
    .cardInfo{
        background-color: #000;
        display: none;
        padding: 60px;
        flex-direction: column;
        position: relative;

        h1{
            font-size: 40px;
            font-weight: 700;
            color: #4E9F3D;
        }
        .cardInfo_el{
            color: #4E9F3D;
            font-size: 24px;
            font-weight: 700;
        }
        .History_ul{
            list-style: none;
            margin-left: 10px;
            font-weight: 500;
            margin-top: 10px;
        }
        .History_li{
            margin-top: 5px;
        }
        .closeScreen_el{
            position: absolute;
            right: 50px;
            top: 50px;
            font-size: 32px;
            color: #4E9F3D;
        }
    }

}
.screen{
    width: 100%;
    height: 100vh;
    position: relative;
}